<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="../static/abtus.css">
</head>
<body>
  <div class="nav-links">
    <div class="logo">
      <a href="main.html"><H1><i><b>Sparks</b></i></H1></a>
    </div>
    <div class="component-list">
      <div class="component"><a href="">  JOIN </a></div >
      <div class="component"><a href="">  HOST </a></div >
      <div class="component"><a href="/subscription">  SUBSCRIPTION</a></div >
      </div>
</div>
    <div class ="name">
        <br>
        <br>
        <h1>About Us</h1>
    </div>
  
  <div class="container">
    <div class="person">
      <img src="aayush.jpg" alt="Person 1">
      <h3>Aayush Kumar</h3> <br>
      <p><b>21bcs001</b></p> <br>
      <p>Design, Frontend , API , Hosting</p> <br>
    </div>
    <div class="person">
      <img src="abhishikt.jpg" alt="Person 1">
      <h3>Abhishikt Mahajan</h3> <br>
      <p><b>21bcs060</b></p> <br>
      <p>Design and Frontend</p> 
    </div>
    <div class="person">
      <img src="deepak.jpeg" alt="Person 1">
      <h3>Deepak Godara</h3> <br>
      <p><b>21bcs040</b></p> <br>
      <p>Design & Frontend</p> 
    </div>
    <div class="person">
      <img src="anurags.jpeg" alt="Person 1">
      <h3>Anurag Bisen</h3> <br>
      <p><b>21bcs013</b></p> <br>
      <p>Backend</p> 
    </div>
    <div class="person">
      <img src="ashish.jpeg" alt="Person 1">
      <h3>Ashish Higgins</h3> <br>
      <p><b>21bcs014</b></p> <br>
      <p>Backend</p> 
    </div>
    
  </div>
  <div class="social-media">
    <h3>Follow us on</h3>
    <ul>
      <li><a href="https://github.com/Aayush-Kr-13/CS301-Virtual-Event-Platform" target="_blank"><img src="git.png" sizes="10"></a></li>
    </ul>
  </div>
</body>
</html>
