<!DOCTYPE html>
<html>
<head>
	<title>Centered Form Example</title>
      <link rel="stylesheet" href="../static/confirm.css">
</head>
<body>
    <div class="nav-links-1">
        <div class="logo-1">
            <H1><i><b>Sparks</b></i></H1>
        </div>
        <div class="component-list-1">
          <div class="component-1"><a href="/Signup">  JOIN </a></div >
          <div class="component-1"><a href="/Signup">  HOST </a></div >
          <div class="component-1"><a href="/Signup">  LOG IN / REGISTER</a></div >
          <div class="component-1"><a href="/abutus">  ABOUT US</a></div >
          </div>
    </div> 
    <div class="main">
            <div class="meassage-container">
        <% if(message.length>0){%>
            <div class="alert-success">
                <%= message%>
            </div>
         <%}%>
        </div>
	<form  class="otp-form" action="/confirm" method="post">
		<div class="enter-otp">
            <input type="password" id="password" name="otp" placeholder="Enter OTP">
        </div>
		<button class="submit-otp" type="submit">Submit</button>
	</form>
</div>
    <footer class="footer-login">
        <p>© 2023 Sparks. All rights reserved.</p>
      </footer>
</body>
</html>
