<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <title>Sparks</title>
</head>
<body>
    <div class="nav-links-1">
        <div class="logo-1">
            <H1><i><b>Sparks</b></i></H1>
        </div>
        <div class="component-list-1">
          <div class="component-1"><a href="/Signup">  JOIN </a></div >
          <div class="component-1"><a href="/Signup">  HOST </a></div >
          <div class="component-1"><a href="/Signup">  LOG IN / REGISTER</a></div >
          <div class="component-1"><a href="/abtus">  ABOUT US</a></div >
          </div>
    </div> 
    <div class="design"></div>
    <div class="content">
        <h4>Welcome!</h4>
        <h1>Be there,</h1>
        <h1>even when you are not.</h1>
        <h5>Distance doesn't matter what matters is the meeting</h5>
    </div>
    <div class="insert" class="ilink">
        <input type="text" class="input-field" placeholder="                      Insert Meet Link Here " name="meetlink">
    </div>
    <div class="button">
        <a href="meeting.html">
        <button class="btn"> Start Meeting </button>
        </a>
    </div>
    <div class="image1">
        <img src="d1.jpg">
    </div>
    <div class="image2">
        <img src="d3.jfif">
    </div>
    <footer class="footer-main">
        <p>© 2023 Sparks. All rights reserved.</p>
      </footer>
</body>
</html>