<!DOCTYPE html>
<html>
  <head>
    <title>Subscription Page - Coming Soon</title>
    <link rel="stylesheet" href="../static/subscription.css">
  </head>
  <body>
    <div class="nav-links-1">
      <div class="logo-1">
          <H1><i><b>Sparks</b></i></H1>
      </div>
      <div class="component-list-1">
        <div class="component-1"><a href="/home">  HOME </a></div >
        <div class="component-1"><a href="/abtus">  ABOUT US</a></div >
        <div class="component-1"><a href="/main">  LOG OUT</a></div >
        </div>
  </div> 
    <div class="content">
      <h1>Subscription - Coming Soon</h1>
      <br>
      <p>We're working on a new subscription service that will allow you to access exclusive content and features. Stay tuned for more information!</p>
    </div>
    <div class="content2">
      <h2>File Sharing</h2>
      <br>
      <p>We're working on a new feature in which you can share any file with those people who are connected through our videocalling platform</p>
    </div>
    <footer class="footer-main">
      <p>© 2023 Sparks. All rights reserved.</p>
    </footer>
  </body>
</html>
