*{
    font-family: Arial, sans-serif;
    margin: 0%;
    padding:0%;
  }

  .nav-links{
    text-align: right;
    height: 10vh;
    width: 98.6vw;
    position: relative;
    background: linear-gradient(to left, rgb(110, 107, 111), rgb(193 187 204));
    display: flex;
    padding-right: 1vw;
    padding-left: 1vw;
    box-sizing: border-box;
    justify-content:space-between;
    align-items: center;
}

.component-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 25%;
    /* width: 10vw; */
    position: relative;
}

.component{
    border-radius: 10px;
    color: #000;
    margin-left: 0.5vw;
    height: 50%;
    
    padding-top: 1%;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    padding: 1% 3% 1% 3%;
    font-size: 1.1vw;
    /* padding: 3% 5% 2% 5%; */
    border: 2px solid rgb(29, 8, 75);
    transition: 0.4s ease;
}
.component:hover {
  border: 2px solid rgb(38, 4, 122);
  font-weight: 900;
}
.component:hover a{
  color:rgb(86, 0, 120);
}
.component a{
  text-decoration: none;
  color:rgb(29, 8, 75);
}
/* .nav-links ul li a:hover{
    border-color: #10bdcd;
    color: #7173e6;
} */

.logo{
    position: relative;
    left: 1vw;
    height: 60%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    cursor: pointer;
}

.logo a{
  text-decoration: none;
  color: #000;
}

.name{
  font-size: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 1000;
  color: rgb(71, 0, 138);
}


  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
  }
  
  .person {
    flex-basis: 300px;
    padding: 50px;

    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .person img {
    width: 150px;
    position: relative;
    left: 17%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .social-media {
    margin-top: 50px;
    text-align: center;
  }
  
  .social-media h3 {
    margin-bottom: 10px;
  }
  
  .social-media ul {
    list-style-type: none;
    padding: 0;
  }
  
  .social-media ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  .social-media ul li img {
    width: 50px;
  }
  