*{
    margin: 0px;
    padding: 0px;
    /* background:linear-gradient(to right,rgb(134, 51, 167),rgb(29, 8, 75)); */
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: rgb(183, 186, 186);
  margin-left: 0%;
  margin-left: -8%;
}
::placeholder
{
color: rgb(183, 186, 186);
}
.nav-links{
    text-align: right;
    height: 10vh;
    width: 100%;
    position: absolute;
    background: linear-gradient(to left, rgb(110, 107, 111), rgb(193 187 204));
    display: flex;
    padding-right: 1vw;
    padding-left: 1vw;
    box-sizing: border-box;
    justify-content:space-between;
    align-items: center;
}

.component-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 35%;
    /* width: 10vw; */
    position: relative;
}

.component{
    border-radius: 10px;
    color: #000;
    margin-left: 0.5vw;
    height: 50%;
    
    padding-top: 1%;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    padding: 1% 3% 1% 3%;
    font-size: 1.1vw;
    /* padding: 3% 5% 2% 5%; */
    border: 2px solid rgb(29, 8, 75);
    transition: 0.4s ease;
}
.component:hover {
    border: 2px solid rgb(174, 172, 179);
}
.component:hover a{
    color:rgb(167, 165, 171);
    /* border: 2px solid rgb(27, 120, 120); */
}
.component a{
    text-decoration: none;
    /* color: blue; */
    color:rgb(29, 8, 75);
}
/* .nav-links ul li a:hover{
    border-color: #10bdcd;
    color: #7173e6;
} */

.logo{
    position: relative;
    /* top: 1vh; */
    left: 1vw;
    height: 60%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    cursor: pointer;
}

.forget-container
{
    height: 80vh;
    top: 10vh;
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(229 229 231)
}
.main-forget
{
    height: 57vh;
    width: 27vw;
    position:absolute;
    /* padding: 5%; */
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}
.forget-div
{
    height: 100%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 3px 9px 2px rgb(228, 225, 225);
}
.forget-description
{
    height: 20%;
    width: 80%;
    display: flex;
    font-size: 3vw;
    color: rgb(29, 8, 75);
    justify-content: center;
    text-align: center;
    align-items: center;
}
.forget-form
{
    display: flex;
    height: 55%;
    width: 80%;
    margin-bottom: 6%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Enter-email
{
    height: 18%;
 width: 90%;
 /* padding-left: 1%; */
 margin-bottom:3.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    background-color: rgb(29, 8, 75);
}
.Enter-email input
{
    outline: none;
    border: none;
    margin-left: 4%;
    color: azure;
    font-size: 1.2vw;
    background-color: transparent;
}
.forget-button
{
    height: 20%;
    width: 40%;
    padding: 1%;
    margin-top: 4%;
    font-size: 1.3vw;
    color: rgb(183, 186, 186);
    border-radius: 5rem;
    background:linear-gradient(to right,rgb(100, 4, 138),rgb(29, 8, 75)); 
}
.forget-button a
{
    text-decoration: none;
    color: rgb(183, 186, 186);
}
button:hover{
    transform: scale(0.90);
}
.Enter-email:hover{
    background:linear-gradient(to right,rgb(24, 7, 116),rgb(119, 24, 124));
    /* font-size: 17px; */
    /* color: rgba(71, 163, 174, 0.947); */
    transform: scale(1.011);
}
.meassage-container
{
    top:8vh;
    width: 100%;
    /* left: 42vw; */
    display: flex;
    text-align: center;
    position: absolute;
    z-index: 16;
    justify-content: center;
}

.alert-success{
    z-index:20;
    margin-top: 6vh;
    height: 5vh;
    position: relative;
    left: -5%;
    font-size: 26px;
    border-radius: 15px;
    background:linear-gradient(to right,rgb(24, 7, 116),rgb(119, 24, 124));
}
.footer-login {
    background: linear-gradient(to left, rgb(110, 107, 111), rgb(193 187 204));
    color: rgb(29, 8, 75);
    padding: 20px;
    font-size:1vw;
    height: 10%;
    text-align: center;
    position: absolute;
    box-sizing: border-box;
    top: 90%;
    width:100%;
}