*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
.nav-links{
    text-align: center;
    height: 10vh;
    width: 100%;
    top: 0%;
        position:fixed;
    z-index: 10;
    background: linear-gradient(to left, rgb(110, 107, 111), rgb(193 187 204));
    display: flex;
    padding-right: 1vw;
    padding-left: 1vw;
    box-sizing: border-box;
    justify-content:space-between;
    align-items: center;
}

.component-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 35%;
    /* width: 10vw; */
    position: relative;
}

.component{
    border-radius: 0.5rem;
    color: #000;
    margin-left: 0.5vw;
    height: 50%;
    
    padding-top: 1%;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    padding: 1% 3% 1% 3%;
    font-size: 1.1vw;
    /* padding: 3% 5% 2% 5%; */
    border: 2px solid rgb(29, 8, 75);
    transition: 0.4s ease;
}
.component:hover {
    border: 2px solid rgb(38, 4, 122);
    font-weight: 900;
}
.component:hover a{
    color:rgb(86, 0, 120);
}
.component a{
    text-decoration: none;
    color:rgb(29, 8, 75);
}
.logo{
    position: relative;
    /* top: 1vh; */
    left: 1vw;
    height: 60%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    cursor: pointer;
}

.design{
    position: absolute;
    top: 10vh;
    left: 30%;
    width: 70%;
    height: 67%;
    background: linear-gradient(to right, #03c2f1,	#530350);
    border-radius: 0 0 0 100%;
}

.content{
    font-size: 40px;
    position: absolute;
    left: 5%;
    top: 40%;
    color: #003b38;
}

.content:hover{
    color: #055317;
    transition: .5s ease;
}

.insert{
    position: absolute;
    top: 80%;
    left: 5%;
    border-radius: 50%;
    transition: .5s;
}

.input-field{
    height: 35px;
    width: 180%;
    border-radius: 10px;
    background-color: #c5e3ff;
}

.button{
    position: absolute;
    top: 80%;
    left: 35%;
}

.button a{
    text-decoration: none;
}

.btn{
    height: 35px;
    width: 350%;
    border-radius: 10px;
    background-color: #8bc7ff;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover{
    box-shadow: 0 0 4px 4px #DA70D6;
    text-decoration:solid;
    background: linear-gradient(to right, #FF7F50,	#DA70D6);
    color: #000000;
    transition: .5s;
}

.image1{
    position: absolute;
    top: 20%;
    left: 70%;
}

.image2{
    position: absolute;
    left: 75%;
    top: 70%;
}

footer {
    background: linear-gradient(to left, rgb(110, 107, 111), rgb(193 187 204));
    color: rgb(29, 8, 75);
    padding: 20px;
    font-size:1vw;
    text-align: center;
    position: relative;
    top: 100vh;
    box-sizing: border-box;
    /* top: 100%; */
    width:100%;
}
.some-example
{
    display: flex;
    top: 98vh;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2vw 0vw;
    background-color: #dee0e2;
    border: 2px solid rgb(136, 133, 143);
border-radius: 1rem;
}
.example-description
{
    margin-left: 2.5vw;
    height: 6vh;
    font-size: 3vw;
    position: relative;
color: #5b6467;
}
.example-content
{
    margin-top: 2rem;
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content-element
{
    margin-right: 2vw;
    height: 30vh;
    width: 22vw;
    position: relative;
    display: block;
    box-sizing: border-box;
    border-radius: 2rem;
}
.content-element  img{
    height: 99%;
    width: 99%;
    object-fit: contain;
background-size: cover;
/* border-radius: 2rem; */
}